@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');


* {
  --bs-primary-rgb: 0, 150, 255;
  font-family: 'Cairo', sans-serif;
}
.inverted {
  filter: invert(1);
}
.lead {
  font-size: 1.25rem; /* Larger text for the abstract lead */
  font-weight: 300; /* Lighter font-weight */
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates a responsive grid */
  gap: 10px; /* Space between items */
  padding: 10px;
}

.gallery a {
  display: block;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.gallery img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}