<nav class="navbar fixed-bottom bg-primary primary">
  <div class="container">
    <a class="nav-item text-white" href="/index.html">Home</a>
    <a class="nav-item text-white" href="/html/educational.html">educational</a>
    <a class="nav-item text-white" href="/html/fun.html">fun</a>
    <a
      class="nav-item text-white"
      href="https://www.youtube.com/channel/UChyQgE14JcfQxFafHyaZkwQ"
    >
      <i class="fa-brands fa-youtube"></i>
    </a>
    <a class="nav-item text-white" href="/html/academic.html">academic</a>
    <a class="nav-item text-white" href="/html/about.html">about</a>
  </div>
</nav>
