<nav class="navbar fixed-bottom bg-primary primary">
  <div class="container">
    <a class="nav-item text-white" href="/website/index.html" data-i18n="home">Home</a>
    <a class="nav-item text-white" href="/website/html/educational.html" data-i18n="educational"
      >educational</a
    >
    <a class="nav-item text-white" href="/website/html/fun.html" data-i18n="fun">fun</a>
    <a
      class="nav-item text-white"
      href="https://www.youtube.com/channel/UChyQgE14JcfQxFafHyaZkwQ"
      data-i18n="youtube"
      >youtube</a
    >
    <a class="nav-item text-white" href="/website/html/academic.html" data-i18n="academic">academic</a>
    <a class="nav-item text-white" href="/website/html/about.html" data-i18n="about">about</a>

    <!-- Example single danger button -->
    <!-- Default dropup button -->
    <div class="btn-group dropup">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-i18n="lang"
      >
        Language
      </button>

      <ul
        class="dropdown-menu"
        id="languageSwitcher"
        aria-labelledby="dropdownMenuButtonLanguage"
      >
        <li>
          <span class="dropdown-item" data-i18n="en">English</span>
        </li>
        <li>
          <span class="dropdown-item" data-i18n="ar">العربية</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
